<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>categories</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>
<div th:replace="header :: header"></div>
	<div class="container">
	
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Déconnexion</button>
		</form>    
		
		<div class="panel-group" style="margin-top:40px">
		
			<div class="panel panel-primary">
			
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<p class="admin-message-text text-center">
				Liste des catégories
				</p>
				<!--  -->
	<div th:each="categorie: ${categories}" class="container">

		<div><h1><span th:value="${categorie.Name}" th:text="${categorie.Name}"></span></h1></div>
			<div>
							<a th:href="@{/app/articleByC(id=${categorie.id})}">
								<button class="btn btn-light">See articles</button>
							</a>
						
	</div>
	<!--  -->
			</div>
			
		</div>
		
	</div>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>